
.statusgreen {
    background-color: #bfe8bf;
    padding: 6px 20px;

}
.statusorange {
    background-color: #ecc988;
    padding: 6px 20px;

}
.statusred {
    background-color: #ef9a9a;
    padding: 6px 15px;

}
.userheadertable{
width:80%;
color: #1177d1;

}
.userdetails{
max-width: 150px;
}
@media only screen and (min-width: 1200px) {
    .userdetails {
        width: 18%!important;
    }

    .userheader table th {
        max-width: 110px;
    }
}


#page-admin-tool-custom_uploaduser-index #manageusers .femptylabel {
    margin-left: 0;
}
#page-admin-tool-custom_uploaduser-index #manageusers .femptylabel  .col-md-3{
    display: none;
}
#page-admin-tool-custom_uploaduser-index  #manageusers .userdetails span[data-fieldtype="text"] {
    max-width: 100%
}

#page-admin-tool-custom_uploaduser-index #manageusers .femptylabel .form-inline.col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

#manageusers .femptylabel[data-groupname="availablefromgroup"]:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
